body {
  background-color: rgb(255, 255, 255);
  font: 400 1.5em/1.38 Roboto;
  color: rgb(0, 0, 0);
}

.element {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 118.4166666666%;
  height: 409px;
  margin: 24px 0 0 -4%;
  background-color: rgba(251, 192, 76, 0.92);
}

.image {
  display: block;
  float: left;
  width: 275px;
  height: auto;
  margin: 25px 0 0 16.79948%;
  overflow: hidden;
}

.text {
  float: left;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 2;
  width: 54.4%;
  min-height: 103px;
  margin: -354px 0 0 23.59896%;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-size: 1.583em;
  font-weight: 100;
  text-align: center;
}

.text-2 {
  position: relative;
  z-index: 3;
  width: 54.4%;
  min-height: 62px;
  margin: -127px 0 0 23.5989583333%;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

.text-3 {
  width: 71.25%;
  min-height: 34px;
  margin: 67px 0 0 14.41667%;
  font-size: 0.5em;
  font-weight: 400;
  text-align: right;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-size: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 strong {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.text-2 strong {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
}